*.iml
.gradle
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild

# Don't store the binary of the database.
app/src/main/assets/qawHaq.db

# Unexclude specific jar
!gradle/wrapper/gradle-wrapper.jar

# Local configuration file (sdk path, etc)
local.properties
